
  <div class="container-fluid cont-1">
  <div class="row justify-content-around ">
    <div class="col-md-7">
      <ngx-typed-js [loop]="false" [typeSpeed]="70" [strings]="['Learn Any Thing For Free Now'] ">
        <h1 class="typing"></h1>
      </ngx-typed-js>
      <h1>Explore our FREE, comprehensive course library to deliver the best training material to your team!</h1>
      <h1>Learn from industry experts, and connect with a global network of experience</h1>
      <br>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h3>Drive business impact
            Get access to courses for your business, higher education, or government team</h3>
            <br>
            <button class="btn form-control btn-light"> <a href="#courses">Learn Now</a></button>
        </div>
        <div class="col-md-6 text-center">
          <img src="assets/b1fxwht7hdbeusleja7ciftsj.svg" class="w-50 img-hide">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img src="assets/My project (1).png" class="w-100 h-50 img-c">
      <img src="assets/My project (2).png" class="w-50 img-c">
      <img src="assets/My project.png" class="w-50 img-c">
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
<div class="col-md-8 text-center">
<h2>Browse All Courses</h2>
  </div>
  </div>
<hr>
<section id="courses">

  <div class="container-fluid">
    <div class="row justify-content-center">
  <div class="col-md-8 text-center">
    <p class="qr">بِسْمِ اللَّهِ وَالصَّلَاةِ وَالسَّلَامُ عَلَى رَسُولِ اللَّهِ صَلَّى اللَّهُ عَلَيْهِ وَسَلَّمَ ، اللَّهُمَّ إنِّي أَسْأَلُكَ فَهُم النَّبِيِّين وَحَفِظ الْمُرْسَلِينَ وَالْمَلَائِكَةِ الْمُقَرَّبِينَ ، اللَّهُمَّ اجْعَلْ أَلْسِنَتِنَا عَامِرَة بِذِكْرِك ، وَقُلُوبُنَا بخشيتك ، إِنَّكَ عَلَى كُلِّ شَيْءٍ قَدِيرٌ وَحَسْبُنَا اللَّهُ وَنِعْمَ الْوَكِيلُ</p>
  </div>
</div>
    <div class="row g-3 mt-4">
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/3910939.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Web Development with Angular</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/19QRGoiDe9ujHw-oPDnv5q8c2xMAubaKU" target="_blank">Start Now</a></button>
          <p>7 courses </p>
          <p>16 hours of content</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/wallpaperflare.com_wallpaper (1).jpg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Advance Your Skills in HTML
          </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/16C-uhVYzrc0NBLd1xmeabQO3jRASVrXN" target="_blank">Start Now</a></button>
          <p>HTML is the standard markup language for Web pages.

            With HTML you can create your own Website.</p>
          <p> 25 hours of content</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/4623107.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Bootstrap with Sass</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1weB5KfGOpN2o7XjDYMdmwTJZuicuLjHo" target="_blank">Start Now</a></button>
          <p>Build fast, responsive sites with Bootstrap</p>

          <p> Duration: 4h 20m</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/1555163.jpg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Learning the JavaScript Language</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1ZTmACD_hEbpTTk5YUfCx-Ajzs-3SNhtx" target="_blank">Start Now</a></button>
          <p>JavaScript is the world's most popular programming language,JavaScript is the programming language of the Web.</p>
          <p>Duration: 30h 53m</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/1658289884864.jpg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Advanced JavaScript Language</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1ZTmACD_hEbpTTk5YUfCx-Ajzs-3SNhtx" target="_blank">Start Now</a></button>
          <br>
          <br>
          <br>
          <p>Duration: 4 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/1555170.jpg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Advanced Node.js</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/11PpdYz9brWVFoNMhA2Fm3x4xV4bkbm6-" target="_blank">Start Now</a></button>
          <br>
          <p>Node.js is a powerful tool for controlling servers, building web applications</p>
          <p>Duration: 8 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/wp8724850-mongodb-wallpapers.jpg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">MongoDB</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1zvcajfmakc329c0estZR44l3rdMQBLcG" target="_blank">Start Now</a></button>
          <br>
          <p>MongoDB is a NoSQL document database with an expressive and intuitive query language.</p>

          <p>Duration: 6 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/ES6_large2.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">ECMAScript 6</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1yey0jdsYlyKJ-CT0JHTkUJpx6ZeLoERM" target="_blank">Start Now</a></button>

          <p>ECMAScript is commonly used for client-side and  used for writing server-side applications</p>

          <p>Duration: 6 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/wp10638191-jquery-wallpapers.jpg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">jQuery</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/156edCG2d7-WCZAdB4eClvCr7auofhczR" target="_blank">Start Now</a></button>

          <p>jQuery is a fast, small, and feature-rich JavaScript library</p>
          <p>Duration: 6 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/regular_1708x683_cover-0726_SQLDatabasePerformanceTuningForDevelopers_Razvan_Newsletter-2c775155bd19788a2db543728925752d.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">SQL Server</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1rfg2QJpothWSFw8AYjmtXJ2SIDQ-mk90" target="_blank">Start Now</a></button>
          <p>SQL stands for Structured Query Language
            SQL lets you access and manipulate databases</p>
          <p>Duration: 9 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/Frevvo-Save-Data-Hero-1000x529.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Advanced SQL development</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1rfg2QJpothWSFw8AYjmtXJ2SIDQ-mk90" target="_blank">Start Now</a></button>
          <p>SQL stands for Structured Query Language
            SQL lets you access and manipulate databases</p>
          <p>Duration: 18 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/Learn-Microsoft-Power-BI.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">MS SQL Server BI</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1Hs7MwurHHBB0UmupcXD1sajsy75_J3xq" target="_blank">Start Now</a></button>
          <p>Power BI is a collection of software services and connectors that work together to turn your unrelated sources of data into coherent</p>
          <p>Duration: 18 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/faizur-rehman-pHPzdEHN6Os-unsplash.jpg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">FreeLancing Course</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1ZCEZbVfPfw1oBxSrSTlugLVbFxQvwF0N" target="_blank">Start Now</a></button>
          <p>Freelancing is a type of self-employment. Instead of being employed by a company, freelancers tend to work as self-employed</p>
          <p>Duration: 6 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/wp10474416-amazon-web-services-wallpapers.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Cloud computing with AWS
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1uWEE8vJWz5tA44wkBKxhI1Dx5bfBd7-I" target="_blank">Start Now</a></button>
          <p>Amazon Web Services (AWS) is the world’s most comprehensive and broadly adopted cloud platform</p>
          <p>Duration: 5 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/apache-web-server-logo.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Apache Server
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1MGgrQITP8U60fsuBWSlCXwoH1CR46e0r" target="_blank">Start Now</a></button>
          <p>he Apache Software Foundation has patched a severe vulnerability in the Apache (httpd) web server project that could</p>
          <p>Duration: 4 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/00-shell_bash.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Bach Script
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1pGkI4zVkLnehpW_siiOIYYWu7MXWBofG" target="_blank">Start Now</a></button>
          <p>A Bash script is a plain text file which contains a series of commands.</p>
          <p>Duration: 12 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/C-Programming-Language-800x445.jpg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">C Programming Language
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1rWZ8r8WaoFGJMKrGz3vMK6jE9rsQP5EA" target="_blank">Start Now</a></button>
          <p>C is still at the center of it all. In this course, get a quick introduction to the vocabulary and basics of programming in C</p>
          <p>Duration: 3 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/MxpiKAG5czIDmXbv9xMbTX6qY8qIFKuNiK2RbxSL.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Django
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/16vBLOjrPoARn7aHHxu2vRPmjP7M4mHyx" target="_blank">Start Now</a></button>
          <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design</p>
          <p>Duration: 7 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/what-is-java-image-2048x1170.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Java
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1ecpz7akQs9KSD7SKy1A0YSa7FjHMX77X" target="_blank">Start Now</a></button>
          <p>Java is a robust and object-oriented programming language. Since its inception in 1991</p>
          <p>Duration: 40 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/social_default_image.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Odoo
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/185pBCeVcHVYIBDdzWu_S-ppuz8Br22I5" target="_blank">Start Now</a></button>
          <p>Odoo is a suite of business management software tools including, for example, CRM, e-commerce, billing, accounting, manufacturing</p>
          <p>Duration: 6 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/Coding-illustration.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">operating system
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/185XJutPfqQBmXSfnfX3-x3scRSVOcCYB" target="_blank">Start Now</a></button>
          <p>An operating system is a program that acts as an interface between the computer user and computer hardware.</p>
          <p>Duration: 28 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/oop.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">OOP With C++
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1u6Jf5TL4ZJwZwLk270wBKFpuAqemSCZ3" target="_blank">Start Now</a></button>
          <p>Procedural programming is about writing procedures or functions that perform operations on the data.</p>
          <p>Duration: 18 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/meta-image.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">PhP
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1w_LLMbY3LTiqJOgTjzAFHvuRnVXZEG5v" target="_blank">Start Now</a></button>
          <p>A popular general-purpose scripting language that is especially suited to web development.</p>
          <p>Duration: 38 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/1_RJMxLdTHqVBSijKmOO5MAg.jpeg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Python
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1lBvgtepad-_VMtnOldq1pYw-_gp_GaMp" target="_blank">Start Now</a></button>
          <p>Python is a programming language that lets you work quickly.</p>
          <p>Duration: 13 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/pasted-image-0-2.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">React JS
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/11d9TNoPj8PZADZOoRG2gaxYDluOGod99" target="_blank">Start Now</a></button>
          <p>A JavaScript library for building user interfaces,React makes it painless to create interactive UIs.</p>
          <p>Duration: 19 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/86176b7-vuejs.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">vuejs
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1RByh4pPDZR2S1Wjkb2j3Kkbjp8L1bIHf" target="_blank">Start Now</a></button>
          <p>Vue (pronounced /vjuː/, like view) is a JavaScript framework for building user interfaces.</p>
          <p>Duration: 22 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/unit-test-vs-functional-test.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Unit Testing
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1DodY2gLRhkfcD7fz3cCQyB5AOHiVz-Wb" target="_blank">Start Now</a></button>
          <p>Unit Testing is a software testing technique by means of which individual units of software i.e. group of computer program modules</p>
          <p>Duration: 9 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/New-Cisco-CCNA.jpg" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">CCNA
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/14yWNYiNQim9NNKbF9Zf0twknqgip5s-A" target="_blank">Start Now</a></button>
          <p>Achieving CCNA certification is the first step in preparing for a career in IT technologies.</p>
          <p>Duration: 18 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/baby-git-release.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">git
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1mHLeIMPc5wLN_6OXdop0dRNP84juloVh" target="_blank">Start Now</a></button>
          <p>Git is an essential tool that developers use to share code and collaborate on software projects.</p>
          <p>Duration: 10 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/ruby-programming-language.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Ruby
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1HsW8aMgAlrJQ2AWu4XtOIVdetiLR-fVx" target="_blank">Start Now</a></button>
          <p>Ruby is an interpreted, high-level, dynamic, general-purpose, open source programming language .</p>
          <p>Duration: 13 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/red-hat-summit-2021-logo1.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Red Hat
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1rfWlol2Pzh7VNuVYRopUqlEjD2W3YZV2" target="_blank">Start Now</a></button>
          <p>Red Hat is a software company that combines open source Linux operating system components with related programs .
          </p>
          <p>Duration: 32 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/wordpress.gif" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Word Press
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1kpRvbPSUKPVppC0I5FO7v3Wl3w5eab7O" target="_blank">Start Now</a></button>
          <p>WordPress is a free, open-source website creation platform. On a more technical level.
          </p>
          <p>Duration: 40 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/anuntatech_Blog-08_Sep-21-768x544.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Cloud Computing
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1yJmpbJyF_NTzH5ZKv5JcocwvUFUKvwTp" target="_blank">Start Now</a></button>
          <p>Cloud computing[1] is the on-demand availability of computer system resources, especially data storage (cloud storage) and computing power
          </p>
          <p>Duration: 20 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/algorithm-8507b849b8ee48e5887fda56916dd037.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Algorithm
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1plpfRf1L9bFkZtSZPbHz-uOsJdgBNo5n" target="_blank">Start Now</a></button>
          <p>An algorithm is a set of instructions for solving a problem or accomplishing a task. One common example of an algorithm is a recipe
          </p>
          <p>Duration: 19 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/download-.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">.NET
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1Kuuab6sMUnlBswybqOBqOrG13T-8kLHX" target="_blank">Start Now</a></button>
          <p>.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.
          </p>
          <p>Duration: 60 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/agile-methodology-chicago.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Agile
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1X9GrV4Dqw47bY6AtXpGqfl5lI3VYMFts" target="_blank">Start Now</a></button>
          <p>Agile is the ability to create and respond to change. It is a way of dealing with, and ultimately succeeding in, an uncertain and turbulent environment.
          </p>
          <p>Duration: 12 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/1_c_fiB-YgbnMl6nntYGBMHQ.webp" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Machine Learning
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/10bs4gexy0jnzb8WdKgSaAEY1mLuuo1Lf" target="_blank">Start Now</a></button>
          <p>Machine Learning is the most widely used branch of computer science nowadays. It is used by many industries for automating tasks
          </p>
          <p>Duration: 46 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/892c3245-101d-4f83-883b-7073e5f85b45.png" class="w-100">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Big Data and Cloud
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1awFRdppvGYSCM22tf0FDy1AWRJH-ase-" target="_blank">Start Now</a></button>
          <p>Big Data” is a bit of a misnomer since it implies that pre-existing data is somehow small (it isn’t) or that the only challenge is its sheer size.
          </p>
          <p>Duration: 16 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/arcgis.gif" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Arc GIS
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1GFk3szE9MqFFc5XoL3_0TKxh8jRNY8sg" target="_blank">Start Now</a></button>
          <p>ArcGIS is a geographical information system (GIS) software that allows handling and analyzing geographic information.
          </p>
          <p>Duration: 48 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/1_mz9tzP1LjPBhmiWXeHyQkQ.png" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Recommender Systems
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1R-eQBc-AzPL5mdK3VqNt2PJPm67adEVX" target="_blank">Start Now</a></button>
          <p>recommendation system is a subclass of information filtering system that provide suggestions for items that are most pertinent to a particular user.
          </p>
          <p>Duration: 28 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/laravel-featured.png" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Laravel
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1-9yH4GEstrOtiJizkNy81eXBeoQdBccG" target="_blank">Start Now</a></button>
          <p>Laravel is a free, open-source PHP web framework, created by Taylor Otwell and intended for the development of web applications
          </p>
          <p>Duration: 62 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/NOsql-Database.jpg" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">NoSQL DataBase
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1HvMdmXHe2ypl7Llw5ISVRYENljICOKF3" target="_blank">Start Now</a></button>
          <p>NoSQL databases are non-tabular databases and store data differently than relational tables.
          </p>
          <p>Duration: 10 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/data_analysis_with_excel-1024x512-1.png" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Excel Basics for Data Analysis
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://mega.nz/folder/kp5RFACR#tEcE-S38Bfkjim7gBp4e9Q/folder/I0ZW1LoR" target="_blank">Start Now</a></button>
          <p>This course is designed to provide you with basic working knowledge for using Excel spreadsheets for Data Analysis.
          </p>
          <p>Duration: 7 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/sta-je-xml.jpg" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">XML
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://mega.nz/folder/kp5RFACR#tEcE-S38Bfkjim7gBp4e9Q/folder/UlxQnL4Y" target="_blank">Start Now</a></button>
          <p>Extensible Markup Language (XML) is a markup language and file format for storing, transmitting
          </p>
          <p>Duration: 9 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/MOS-Master.png" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Microsoft Office Specialist (MOS)
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1gVvJ9R4_APIHVxKy8wMEd6fu2Oa4qWI-" target="_blank">Start Now</a></button>
          <p>Complete knowledge and study of Microsoft Office Specialist (MOS) Excel 2013, 2016, 2019, 2021
          </p>
          <p>Duration: 18 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/TOEFL_Logo.jpg" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">TOEFL
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1gVvJ9R4_APIHVxKy8wMEd6fu2Oa4qWI-" target="_blank">Start Now</a></button>
          <p>The test is accepted by more than 11,000 universities and other institutions in over 190 countries and territories.
          </p>
          <p>Duration: 120 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/Free-courses-for-learning-ICDL-in-Arabic-Online.webp" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">ICDL
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1nYZRONKobCo0lene2d-KRhKcYm1YMwHz" target="_blank">Start Now</a></button>
          <p>ICDL is an international qualification which enables people to demonstrate their competence in use of computer applications.
          </p>
          <p>Duration: 46 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/How-to-build-a-PR-campaign-from-scratch-Adeo-5.jpg" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2"> public relations
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/14KX8ZAns0R2fKmaqgUe5omJxLxvCDCOT" target="_blank">Start Now</a></button>
          <p>A public relations campaign is a process your business undergoes, which lets it flourish and eventually reach a larger target audience quicker.
          </p>
          <p>Duration: 36 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/mpa-es-program-structure-rwth-international-academy-14025c16.png" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Master of Public Administration (MPA)
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1brxVCIzhvqyAhYXofrHYDIc8PO6FlrH7" target="_blank">Start Now</a></button>
          <p>he mission of the MPA Program is to prepare leaders for careers in public service in Egypt and the Middle East.
          </p>
          <p>Duration: 40 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/hr-generalist-job-at-aujan-coca-cola-60353dfd548e2.png" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Human Resources
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1E6T7Ga7KpCyHJXhAYDHBnKu58SxX6eem" target="_blank">Start Now</a></button>
          <p>HR is the division of a business that is charged with finding, screening, recruiting, and training job applicants.
          </p>
          <p>Duration: 80 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/TermDefinitions_DigitalMarketing_finalv1-e0b5b14e22e541699ba9d00b07b8a7e8.webp" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Digital Marketing
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/16eTDWMqqkfyGA-5d7-uys9j009hHq1br" target="_blank">Start Now</a></button>
          <p>Digital marketing involves some of the same principles as traditional marketing and is often considered a new way for companies.
          <p>Duration:15 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/1_fiEXMWcFg328ztjZEWYlpg.jpeg" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Project Management
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1TIxMjGlrsOdIFnOulgkETCSyWwf4LpG6" target="_blank">Start Now</a></button>
          <p>Project management is the use of specific knowledge, skills, tools and techniques to deliver something of value to people.
          <p>Duration: 28 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/Arduino-With-Python-How-to-Get-Started_Watermarked.webp" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Arduino
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1aoBU4eyUoOd6bg_nhX4pWeMlv0KLH1hK" target="_blank">Start Now</a></button>
          <p>Arduino has made electronic application design much more accessible to all developers.
          <p>Duration: 12 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/Tips-To-Improve-Your-Communication-Skills-infographic1-2.jpg" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Communication Skills
            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1zXsmhoZYt6yWxPzNo4t5YLHqWu6k7M43" target="_blank">Start Now</a></button>
          <p>Communication is always a two-way process and numerous people forget this and fall into the trap of “broadcasting”.
          <p>Duration: 17 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/CV-Templates.jpg" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Curriculum vitae (CV)

            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1cHT9x_jShr3mYb58ziD_FxCeeDjtWYie" target="_blank">Start Now</a></button>
          <p>Your CV is a brief written account of your personal details, your education, You can send a CV when you are applying for a job
          <p>Duration: 12 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/Common-Interview-Questions.png" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Interview Questions

            </h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://drive.google.com/drive/folders/1YHBH7iLsSpC4NJjuH5xepqW_b2Yehrxt" target="_blank">Start Now</a></button>
          <p>Here are the most common interview questions to expect to be asked in your interview
          <p>Duration: 16 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/Certified-Ethical-Hacker-CEH-v10.jpg" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Certified Ethical Hacker (CEH) v10</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://mega.nz/folder/HNp0XLga#E3To6KFpNdnaUCkXGAM8cQ/folder/XRhGQDQC" target="_blank">Start Now</a></button>
          <p>The Certified Ethical Hacker (CEH) provides an in-depth understanding of ethical hacking phases, various attack vectors.
          <p>Duration: 90 hours</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="course-desc">
          <div class="cont-img">
            <img src="assets/AI-Motherboard-2048x1103.webp" class="w-100 ">
          </div>
          <div class="cont-titile">
            <h2 class="mt-2">Artificial Intelligence (AI)</h2>
          </div>
          <button class="btn form-control bg-light"><a href="https://onedrive.live.com/?authkey=%21AHTXkSLAxjV%5FjpA&id=B65A41591FDE85C0%2110690&cid=B65A41591FDE85C0" target="_blank">Start Now</a></button>
          <p>Investments in AI have led to transformative advances now impacting our everyday lives.
          <p>Duration: 64 hours</p>
        </div>
      </div>
    </div>
  </div>
</section>
