#main-home{
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  z-index:88;
  font-weight: 600;
  height:130% !important;
  color: white !important;
background-color: #141329;
}
.container-fluid{
  margin-top: 90px;
}
body{
  color: white !important;
  overflow-x: hidden;
}
label{
  font-weight:500;
  font-size:18px;
}
input{
  background-color: black !important;
  border: 2px solid BLUE;
  color: wheat !important;
}
button{
  background-color:blue ;
  color: white;
  float: right;
  clear:both;
}
button:hover{
  background-color:#2B2B3E !important;
}
h1 ,.Qr{
  font-family: 'Aref Ruqaa', serif;
  color: #64ff10;

}
.Qr{
  font-weight: 300;
  font-size: 30px;
  color: #64ff10;
  text-align: center;
}
.cont-aya{
  background-color: #2B2B3E;
  opacity: 0.7;
  padding:10px;
  border-radius: 20px;
}
a{
  text-decoration: none;
  color: white;
}
.alert{
  font-weight: 400;
}
