<section id="main-home">
  <div class="goc">
    <section id="desc-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mt-5">
            <ngx-typed-js [loop]="true" [typeSpeed]="80" [strings]="['2023 Solution Challenge'] ">
              <h1 class="typing"></h1>
            </ngx-typed-js>
            <p>The mission of the 2023 Solution Challenge is to solve for one or more of the United Nations 17 Sustainable Development Goals using Google technology.</p>
            <br>
            <p>The Solution Challenge is open to members of Google Developer Student Clubs. Join a Google Developer Student Club (GDSC) on the GDSC community page.</p>
            <br>
            <button class="btn btn-danger"><a href="https://www.youtube.com/watch?v=PHpveYiS0OQ">See Demo Day</a></button>
          </div>
          <div class="col-md-6">
            <img src="/assets/solutionchallenge-homepage_720-removebg.png" class="img-1" target="_blank"  class="w-100">
          </div>
        </div>
      </div>
    </section>
      <div class="container">
        <div class="row mt-5 g-5">
          <div class="col-md-4">
            <div class="top-50">
              <img src="/assets/groups_outlined_96.png">
              <h2>Top 50 teams</h2>
              <p>Win a T-shirt, certificate, and mentorship from Googlers and other experts to improve and submit a solution for the top prize.</p>
            </div>

          </div>
          <div class="col-md-4">
            <div class="top-10">
              <img src="/assets/workspace_premium_96.png">
              <h2>Top 10 finalists</h2>
              <p>Win a $1,000 cash prize per team member, swag, certificate, mentorship from Google, and a feature in the Google Developers Blog and Demo Day livestream.</p>
            </div>

          </div>
            <div class="col-md-4">
              <div class="top-3">
                <img src="/assets/emoji_events_96.png">
                <h2>Top 3 winners</h2>
                <p>Win a $3,000 cash prize per team member, swag, certificate, mentorship from Google, and a feature in the Google Developers Blog and Demo Day livestream.</p>
              </div>
          </div>
        </div>
      </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/un_goals_960.png" class="w-100">
        </div>
        <div class="col-md-6 mt-5">
          <h2>What are the United Nations 17 Sustainable  Development Goals?</h2>
          <br>
          <P>Created by the United Nations in 2015, with support from all 193 United Nations Member States, the 17 Sustainable Development Goals aim to end poverty, ensure prosperity, and protect the planet.

            Learn more</P>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 mt-5">
          <h3>The 17 Sustainable Development Goals of the United Nations
          </h3>
          <p>In 2015, the United Nations created 17 Sustainable Development Goals and aimed to achieve them by 2030. All 193 United Nations Member States agreed on these 17 goals to end poverty, ensure prosperity, and protect the planet.

            For the 2022 Solution Challenge, your mission is to create a project that contributes to solving one or more of the 17 Sustainable Development Goals using Google technologies.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/solutionchallenge-UN_720-removebg-preview.png" class="w-100">
        </div>
        <hr class="mt-4">
        <div class="container mt-3">
          <div class="row">
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-01_480.png" class="w-50 img-cent">
              <h3 class="mt-2">No Poverty
              </h3>
              <p>End poverty in all its forms, everywhere.
              </p>
              </div>

            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-02_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Zero Hunger
              </h3>
              <p>End hunger, achieve food security and improved nutrition, and promote sustainable agriculture.
              </p>
              </div>

            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-03_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Good Health and Wellbeing
              </h3>
              <p>Ensure healthy lives and promote well-being for all, at all ages.
              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-04_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Quality Education

              </h3>
              <p>Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all.

              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-05_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Gender Equality
              </h3>
              <p>Achieve gender equality and empower all women and girls.
              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-06_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Clean Water and Sanitation

              </h3>
              <p>Ensure availability and sustainable management of water and sanitation for all.

              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-07_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Affordable and Clean Energy</h3>
              <p>Ensure access to affordable, reliable, sustainable, and modern energy for all.
              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-08_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Decent Work and Economic Growth
              </h3>
              <p>Promote sustained, inclusive, and sustainable economic growth, full and productive employment.
              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-09_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Industry, Innovation and Infrastructure

              </h3>
              <p>Build resilient infrastructure, promote inclusive and sustainable industrialization.

              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-10_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Reduced Inequalities
              </h3>
              <p>Reduce inequality within and among countries.
              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-11_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Sustainable Cities and Communities
              </h3>
              <p>Make cities and human settlements inclusive, safe, resilient, and sustainable.
              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-12_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Responsible Consumption and Production
              </h3>
              <p>Ensure sustainable consumption and production patterns.
              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-13_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Climate Action</h3>
              <p>Take urgent action to combat climate change and its impacts.</p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-14_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Life Below Water
              </h3>
              <p>Conserve and sustainably use the oceans, seas, and marine resources for sustainable development.
              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-15_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Life on Land
              </h3>
              <p>Protect, restore, and promote sustainable use of terrestrial ecosystems, manage forests, combat desertification and biodiversity loss.
              </p>
              </div>
            </div>
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-16_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Peace, Justice and Strong Institutions
              </h3>
              <p>Promote peaceful and inclusive societies for sustainable development.
              </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-3 text-center mt-4">
              <div class="cont-p p-4">
                 <img src="assets/goal-17_480.png" class="w-50 img-cent">
              <h3 class="mt-2">Partnerships</h3>
              <p>Promote peaceful and inclusive societies for sustainable development, provide access to justice for all.
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


