<section id="main-home">
  <div class="cont">
  <div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-md-7 mt-5">
      <div class="desc-1 ">
        <img src="/assets/gdsc_lockup.png" class="w-75">
         <ngx-typed-js [loop]="true" [typeSpeed]="80" [strings]="['Welcome To GDSC Cairo University', 'Learn More Abot GDSC'] ">
          <h1 class="typing"></h1>
         </ngx-typed-js>
          <p>Google Developer Student Clubs (GDSC) are community groups for college and university students interested in Google developer technologies. Students from all undergraduate or graduate programs with an interest in growing as a developer are welcome. By joining a GDSC, students grow their knowledge in a peer-to-peer learning environment and build solutions for local businesses and their community.</p>

            <div class="row d-flex ">
              <div class="col-md-12 text-center">
                <i class="fa-brands fa-angular "></i>
                <i class="fa-brands fa-html5 mx-3"></i>
                <i class="fa-brands fa-css3-alt mx-3"></i>
                <i class="fa-brands fa-js mx-3"></i>
                <i class="fa-brands fa-react mx-3"></i>
                <i class="fa-brands fa-python mx-3"></i>
                <i class="fa-brands fa-node mx-3"></i>
                <i class="fa-brands fa-java mx-3"></i>
                <i class="fa-brands fa-css3 mx-3"></i>

              </div>
              <button class="btn mt-4 W-25 m-auto" >
                <a href="https://gdsc.community.dev/cairo-university-faculty-of-computers-and-artificial-intelligence/" target="_blank">Join With Us Now</a></button>
            </div>



      </div>
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/—Pngtree—online teaching linear education information_4893011.png" class="w-100">
      </div>
  </div>
</div>
  </div>

</section>


